{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login K-tools</title>
    <link type="text/css" rel="stylesheet" href="{% static 'voler-master/assets/css/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static 'voler-master/assets/images/favicon.svg' %}" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{% static 'voler-master/assets/css/app.css' %}">
</head>

<body>
    <div id="auth">
        
<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-12 mx-auto">
            <div class="card pt-4">
                <div class="card-body">
                    <div class="text-center mb-5">
                        <img src="{% static 'voler-master/assets/images/[K-tools]_logo_심볼.png' %}" height="48" class='mb-4'>
                        <h3>Sign In</h3>
                        <p>Please sign in to continue to K-tools.</p>
                    </div>
                    <form action="{% url 'Authentication:Login' %}" method="post">{% csrf_token %}
                        <div class="form-group position-relative has-icon-left">
                            <label for="username">사번</label>
                            <div class="position-relative">
                                <input type="text" class="form-control" id="username" name="사번">
                                <div class="form-control-icon">
                                    <i data-feather="user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left">
                            <div class="clearfix">
                                <label for="password">비밀번호</label>
                                <a href="auth-forgot-password.html" class='float-right'>
                                    <small>Forgot password?</small>
                                </a>
                            </div>
                            <div class="position-relative">
                                <input type="password" class="form-control" id="password" name="비밀번호">
                                <div class="form-control-icon">
                                    <i data-feather="lock"></i>
                                </div>
                            </div>
                        </div>

                        <div class='form-check clearfix my-4'>
                            <div class="checkbox float-left">
                                <input type="checkbox" id="checkbox1" class='form-check-input' >
                                <label for="checkbox1">Remember me</label>
                            </div>
                            <div class="float-right">
                                <a href="{% url 'Authentication:Register' %}">Don't have an account?</a>
                            </div>
                        </div>
                        <div class="clearfix">
                            <button class="btn btn-primary float-right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
    <script type="application/javascript" src="{% static 'voler-master/assets/js/feather-icons/feather.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'voler-master/assets/js/app.js' %}"></script>
    
    <script type="application/javascript" src="{% static 'voler-master/assets/js/main.js' %}"></script>
</body>

</html>
